<p id="notice"><%= notice %></p>

<p>
  <b>Team name:</b>
  <%= @team.team_name %>
</p>

<p>
  <b>Spent:</b>
  <%= @team.spent %>
</p>

<p>
  <b>Num players:</b>
  <%= @team.num_players %>
</p>

<p>
  <b>Image:</b>
  <%= @team.image %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
