<%= form_for(@hitter) do |f| %>
  <% if @hitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hitter.errors.count, "error") %> prohibited this hitter from being saved:</h2>

      <ul>
      <% @hitter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pos %><br />
    <%= f.text_field :pos %>
  </div>
  <div class="field">
    <%= f.label :pos2 %><br />
    <%= f.text_field :pos2 %>
  </div>
  <div class="field">
    <%= f.label :tm %><br />
    <%= f.text_field :tm %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :selected %><br />
    <%= f.check_box :selected %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
