<h1>Listing hitters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Pos</th>
    <th>Pos2</th>
    <th>Tm</th>
    <th>Cost</th>
    <th>Selected</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hitters.each do |hitter| %>
  <tr>
    <td><%= hitter.name %></td>
    <td><%= hitter.pos %></td>
    <td><%= hitter.pos2 %></td>
    <td><%= hitter.tm %></td>
    <td><%= hitter.cost %></td>
    <td><%= hitter.selected %></td>
    <td><%= link_to 'Show', hitter %></td>
    <td><%= link_to 'Edit', edit_hitter_path(hitter) %></td>
    <td><%= link_to 'Destroy', hitter, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hitter', new_hitter_path %>
