<h1>Listing drafts</h1>

<table>
  <tr>
    <th>Player type</th>
    <th>Player num</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drafts.each do |draft| %>
  <tr>
    <td><%= draft.player_type %></td>
    <td><%= draft.player_num %></td>
    <td><%= link_to 'Show', draft %></td>
    <td><%= link_to 'Edit', edit_draft_path(draft) %></td>
    <td><%= link_to 'Destroy', draft, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Draft', new_draft_path %>
